h3 TASKS
  .row
    .col-xs-4
      form
        .form-group
          label(for='assignment') Assignment
          input.text-field.form-control(name='assignment' type='text' ng-model='task.title')
          label Date
          input.text-field.form-control(type='date' ng-model='task.dueDate')
          label Priority
          select.form-control(ng-model='task.priority')
            option Low
            option Med
            Option High
  .row
    .col-xs-12
      button.btn.btn-success(ng-hide='task.$id', ng-click='addTask(task)') Add Task
      button.btn.btn-warning(ng-show='task.$id', ng-click='saveEdit(task)') Save Task
      
      
  
table.table.table-striped
  thead
    tr
      th Edit:
      th Delete:
      th(ng-click='sort("title")') Title:
      th(ng-click='sort("dueDate")') Due Date:
      th(ng-click='sort("priority")') Priority:
      th(ng-click='sort("isComplete")') Complete:
      th(ng-click='sort("createdAt")') Created At:
  tbody
    tr(ng-repeat='task in afTasks | orderBy:taskOrder', ng-class='{completed:task.isComplete}')
      td: button.btn.btn-xs.btn-link(ng-click='editTask(task)') Edit
      td: button.btn.btn-xs.btn-warning(ng-click='deleteTask(task)') Delete
      td {{task.title}}
      td {{task.dueDate | date:'yyyy-MM-dd'}}
      td {{task.priority}}
      td: input(type='checkbox', ng-model='task.isComplete', ng-click='toggleComplete(task)')
      td {{task.createdAt | date:'yyyy-MM-dd HH:mm:ss a'}}
